*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 0;
}

:root{
    --purple_grad_start: #040006;
    --middle_purple_grad_start: #140119;
    --middle_purple_grad_end: #5B0E4E;
    --purple_grad_end: #62005F;
    --red_feet: #FD653D;
    --red_grad_start: #FD653D;
    --red_grad_end: #FF4167;
    --text_white: white;
}

body {
    background: linear-gradient(45deg, var(--purple_grad_start), var(--purple_grad_end));
    font-family: intel;
  }

.container{
    margin: 3% auto;
    min-width: 300px;
    max-width: 1100px;
    min-height: 800px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text_white);
}

header>a{
    margin-right: 3%;
    }

.line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1%;
}

.small_nav{
    color: var(--text_white);
    display: none;
}

nav{
    width: 80%;
    gap: 10%;
}

nav img {
    display: inline;
}

nav li{
    font-size: 16px;
    font-weight: 400;
    color: var(--text_white);
    list-style-type: none;
}

nav li:hover{
    font-weight: 600;
    list-style-image: url(../images/Header/menu_hover.svg);
}


.main_nav{
    width: 70%;
}

.contact_us{
    width: 20%;
    justify-content: end;
    gap: 3%;
}

.contact_us p{
    color: var(--text_white);
    }

.small_nav{
    display: none;
}

@media only screen and (max-width:600px) {
    .small_nav{
        display: block;
        padding-left: 80%;
    }

    .small_nav img{
        width: 2em;
        padding-top: 5%;
    }

    .main_nav, .contact_us{
        display: none;
    }
}

